<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.ekstep.genieservices">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".GenieServiceTestActivity"></activity>

        <activity android:name=".MainActivity"></activity>
        <receiver
            android:name=".commons.download.DownloadFileReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.ekstep.genieservices.commons.download.ContentImportService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
